{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }} - Category
    {% else %}
        Welcome to the Gojangnan Aladin.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - Gojangnan Aladin
    {% else %}
        See Our Book Collection - Perfect Online Book Store.
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        <div>
            <div>
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }} </p>
            </div>
        </div>
    {% endif %}

    <div>
    {% if category %}
        <div>
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
        </div>
        <br>
        <div>
            {{ category.name }}
            {{ category.description }}
        </div>
    {% else %}
        <div>
            <img src="{% static 'img/banner.jpg' %}" alt="Our Product Collection">
        </div>
        <br>
        <div>
            <h1>Our book Collections</h1>
            <p>Finding the book</p>
        </div>
    {% endif %}
    </div>

    <div>
        <div>
            {% for product in products %}
            <div>
                <a href="{{ product.get_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                <div>
                    <h4>{{ product.name }}</h4>
                    <p>A${{ product.price }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}