<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prepare Payment</title>
</head>
<body>
    <h1>Order</h1>
    <hr />
    <table>
        <th>id</th>
        <th>title</th>
        <th>author</th>
        {% for book in book_list %}
        <tr>
            <td>
                {{book.book_id}}
            </td>
            <td>
                {{book.book_title}}
            </td>
            <td>
                {{book.book_author}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST">
        {% csrf_token %}
        <p>
            <input name="user_name" placeholder="name" required />
        </p>
        <p>
            <input name="user_phone" placeholder="phone" required />
        </p>
        <p>
            <input name="user_address" placeholder="address" required />
        </p>
        <p>
            <input type="submit" value="Buy" />
        </p>
    </form>
</body>
</html>