body {
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown-item {
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

/* CSS for Footer */
.my_footer {
    background-color: #f8f9fa;
    height: 60px;
}

.my_footer p {
    padding-top: 20px;
    font-size: 14px;
}

/* CSS for Cart Page */
.my_customer_table {
    min-width: 400px;
    font-size:  14px;
}

.my_custom_thread {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

.custom_image {
    width: 100px;
    height: 100px;
}

.custom_a {
    text-decoration: none;
}

.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button{
    margin-top: 5px;
}